/******BOJE****
 tamno siva #171717 
 žuta #FDEC06 
 srednje siva #4B4A43
 */

 /* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKvE3UZrok56nvamSuJd_QtvXI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Guntur SemiBold'), local('HindGuntur-SemiBold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_zymWc0ld0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
}


 body {
 	background-color: #000; 
 	font-family: "Hind Guntur";
 	
 }

nav {
 	background-color: #171717;
 	color: #4B4A43;

  font-size: 20px;
 	height: 5vh;
 	
 	
 }

 .glavni {
 	color: #FDEC06;
 	display: grid;
 	grid-gap: 10px;
 
 	width: 100%;
 	height: 100%; 
 }


.tridiv {

	 background-color: #171717;
	 color: #FDEC06;
	 font-family: "Hind Guntur";	 
	 font-size: 30px; 
	 align-content: center; 
	 position:relative; 
	 align-items: center;
	 /*height: 30vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 30);
}


div.tridiv:hover {
    background-color: #FDEC06;
    color: #171717;

}

img.centar {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	position: relative;	
}

img.tamna {
  display: inline;
   
  position: absolute;
  z-index: 2; 
  
}

h2 {
	text-align: center; 
  padding: 60px 20px 20px 20px; 

}

span:hover {
	color:white;
}

h3 {
	margin-left: 10px;
	margin-top: 0px, 
	font-size: 20px; 
}

h4 {
	display: inline-block;

}

.hyperspan {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}


